DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_SCHEMA=
DB_SSL=false

NONCE_TEMPLATE="The Nonce is: %"

JWT_SECRET="password/secret"

WEB3_RPC=ws://localhost:8545
DONATIONS_CONTRACT_ADDRESS=
SIGNER_PRIVATE_KEY=